name: Create and publish npm package
on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'coliff/freshdesk-messaging-facade'
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm ci

      - name: Run build
        run: npm run build

      - name: Set npm Registry Auth Token
        run: npm set //registry.npmjs.org/:_authToken ${{ secrets.NPM_AUTOMATION_TOKEN }}

      - name: Publish npm Package Publicly
        run: npm publish
